// リスト編集のデザイン
.listeditPage {
  .listForm {
    max-width: 500px;
    margin: 100px auto 0;
  }
}

// 編集デザイン
.cardeditPgae {
  .cardeditForm {
    max-width: 500px;
    margin: 70px auto 0;
    &_title, &_memo {
      margin-bottom: 30px;
    }
  }
}